absl-py==2.0.0
aioconsole==0.2.1
altgraph==0.17.3
amqp==5.1.1
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.7.2
asttokens==2.0.8
astunparse==1.6.3
asyncio==3.4.1
attrs==22.1.0
backcall==0.2.0
beautifulsoup4==4.11.1
billiard==4.1.0
bleach==5.0.1
blinker==1.6.2
bottle==0.12.23
bs4==0.0.1
build==0.8.0
bunch==1.0.1
cachetools==5.3.2
celery==5.3.4
certifi==2023.11.17
cffi==1.15.1
charset-normalizer==3.3.2
clamd==1.0.2
click==8.1.6
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
conan==1.57.0
contourpy==1.0.7
cycler==0.11.0
dacite==1.8.1
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
Django==4.2.5
django-cors-headers==4.2.0
entrypoints==0.4
executing==1.0.0
fasteners==0.18
fastjsonschema==2.16.2
Flask==2.3.2
flatbuffers==23.5.26
fonttools==4.38.0
gast==0.5.4
google-auth==2.24.0
google-auth-oauthlib==1.1.0
google-pasta==0.2.0
grpcio==1.59.3
gTTS==2.3.2
h5py==3.10.0
hyperthought==0.9.32
hyperthought-transfer==0.1.14
idna==3.6
importlib-metadata==4.12.0
importlib-resources==5.12.0
install==1.3.5
ipykernel==6.15.3
ipython==8.5.0
ipython-genutils==0.2.0
ipywidgets==8.0.2
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
joblib==1.3.2
jsonschema==4.16.0
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-core==4.11.1
jupyter_client==7.3.5
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.3
keras==2.15.0
kiwisolver==1.4.4
kombu==5.3.2
libclang==16.0.6
lxml==4.9.1
macholib==1.16.2
Markdown==3.5.1
MarkupSafe==2.1.3
matplotlib==3.7.0
matplotlib-inline==0.1.6
MIDIUtil==1.2.1
mido==1.3.0
mistune==2.0.4
ml-dtypes==0.2.0
mypy==1.3.0
mypy-extensions==1.0.0
nbclient==0.6.8
nbconvert==7.0.0
nbformat==5.6.0
nest-asyncio==1.5.5
node-semver==0.6.1
notebook==6.4.12
Nuitka==1.4.8
numpy==1.26.2
oauthlib==3.2.2
opencv-python==4.8.1.78
opt-einsum==3.3.0
packaging==23.2
pandas==2.1.3
pandocfilters==1.5.0
parso==0.8.3
patch-ng==1.17.4
pep517==0.13.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.1.0
plotly==5.10.0
pluginbase==1.0.1
prometheus-client==0.14.1
prompt-toolkit==3.0.39
protobuf==4.23.4
psutil==5.9.2
psycopg2==2.9.7
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
Pygments==2.13.0
pyinstaller==5.7.0
pyinstaller-hooks-contrib==2023.0
PyJWT==2.6.0
pyparsing==3.0.9
PyQt3D==5.15.5
PyQt5==5.15.7
PyQt5-sip==12.11.0
PyQt6==6.4.1
PyQt6-Qt6==6.4.2
PyQt6-sip==13.4.1
PyQtChart==5.15.6
PyQtDataVisualization==5.15.5
PyQtNetworkAuth==5.15.5
PyQtPurchasing==5.15.5
PyQtWebEngine==5.15.6
pyrsistent==0.18.1
PySide6==6.4.2
PySide6-Addons==6.4.2
PySide6-Essentials==6.4.2
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==5.4.1
pyzmq==25.0.0
qtconsole==5.3.2
QtPy==2.2.0
requests==2.31.0
requests-oauthlib==1.3.1
responses==0.23.1
rsa==4.9
scikit-learn==1.3.2
scipy==1.11.4
Send2Trash==1.8.0
shiboken6==6.4.2
six==1.16.0
sklearn==0.0
soupsieve==2.3.2.post1
sqlparse==0.4.4
stack-data==0.5.0
tenacity==8.1.0
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.34.0
tensorflow-macos==2.15.0
termcolor==2.4.0
terminado==0.15.0
threadpoolctl==3.2.0
tinycss2==1.1.1
tomli==2.0.1
tornado==6.3.3
tqdm==4.64.1
traitlets==5.4.0
types-PyYAML==6.0.12.11
types-requests==2.30.0.0
types-urllib3==1.26.25.14
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.1.0
vine==5.0.0
watchdog==3.0.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==3.0.1
widgetsnbextension==4.0.3
wrapt==1.14.1
xlrd==2.0.1
zipp==3.14.0
